[user]
	email = the.malkolm@gmail.com
	name = Alexander Krasnukhin
[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[color "status"]
       untracked = cyan
[core]
	whitespace = blank-at-eol, space-before-tab, tab-in-indent, blank-at-eof, tabwidth=4, cr-at-eol
        eol = lf
	editor = emacs -nw -q
        filemode = true
	autocrlf = false
	safecrlf = true
	excludesfile = ~/.gitignore
[status]
	relativePaths = true
[merge]
	ff = false
	conflictstyle = diff3
	tool = diffmerge
[rerere]
	enabled = 1
[rebase]
	autosquash = true
[branch]
	autosetuprebase = always
[push]
	default = simple
[gc]
	auto = 0
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[mergetool "diffmerge"]
	trustExitCode = true
	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
[credential]
	helper = osxkeychain
[github]
	user = malkolm
[ghi]
	token = !security find-internet-password -a malkolm -s github.com -l 'ghi token' -w
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[advice]
	statusHints = false
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[http]
	sslVerify = true
	followRedirects = true
